p, table, input, button, textarea, body {
    font-family: 'Jua', sans-serif;
    }

form {
    width: fit-content;
    margin: auto;
}

body {
    display: flex;
    width: 100%;
    height: 100%;
}

input#date, input#id {
    border: none;
    outline: none;
}

textarea {
    resize: none;
}